* {
	padding: 0;
	margin: auto;
	background-color: #33cc66;
}
			
	#contato {
	position: relative;
	height: 100px;
	width: 320px;
	font-weight: 400;
	font-size: 18px;
	color: #FFF;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	margin-top: 130px;
	
	}
	
#numero {
	position: relative;
	height: 100px;
	width: 320px;
	font-weight: 700;
	font-size: 25px;
	color: #FFF;
	font-family: 'Roboto Slab', serif;
	text-align: center;
}

	
	@media screen and (min-width: 300px) and (max-width: 800px) 

{   }
